amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
beautifulsoup4==4.6.0
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.25
cffi==1.11.5
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
Django==1.11
django-celery==3.1.17
enum34==1.1.6
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.19
jieba==0.39
kombu==3.0.37
lxml==4.2.0
parsel==1.4.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
PyMySQL==0.8.0
pyOpenSSL==17.5.0
pytz==2018.3
queuelib==1.5.0
redis==2.10.6
Scrapy==1.2.0
scrapy-redis==0.6.3
service-identity==17.0.0
six==1.11.0
Twisted==16.6.0
Unipath==1.1
vine==1.1.4
w3lib==1.19.0
zope.interface==4.4.3
